<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptiCrop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="navbar">
    <a class="active" href="/">Home</a>
    <a href="/about">About</a>
    <a href="/findyourcrop">Find Your Crop</a>
</div>
<section class="home-bg">
    <div class="overlay">
        <h1>OPTI-CROP</h1>
        <h3>Smart Agricultural Production Optimization Engine</h3>
        <p>
            The main purpose of <strong>OptiCrop</strong> is to develop an advanced
            software system that utilizes data-driven insights to optimize
            agricultural production for different crops.
        </p>
        <a href="/findyourcrop">
            <button class="btn">Get Started</button>
        </a>
    </div>
</section>
</body>
</html>